---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Problems from '../sections/Problems.astro';
import Solution from '../sections/Solution.astro';
import Transformation from '../sections/Transformation.astro';
import HowItWorks from '../sections/HowItWorks.astro';
import TargetAudience from '../sections/TargetAudience.astro';
import Stats from '../sections/Stats.astro';
import Testimonials from '../sections/Testimonials.astro';
import FAQ from '../sections/FAQ.astro';
import CTA from '../sections/CTA.astro'; 
---

<Layout>
	<main class="min-h-screen">
		<Header />
		<Hero />

		<Problems />

		<Solution />
		<Transformation />

		<HowItWorks />
		<TargetAudience />
		<Stats />

		<Testimonials />
		<FAQ />
		<CTA /> 
	</main>
</Layout>
